/* Styles pour la bannière */
.banner {
    position: relative;
    text-align: center; 
    height: 200px; /* Ensure the banner height matches the image height */
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}

/* Styles pour le titre "Bienvenue sur mon portfolio" */
.highlighted-title {
    position: absolute;
    top: 50%; /* Centre verticalement le titre */
    left: 50%; /* Centre horizontalement le titre */ 
    transform: translate(-50%, -50%); /* Centre parfaitement le titre */   
    color: #18023b; /* Couleur du texte */
    font-size: 3em; /* Taille de la police */
    text-align: center;
}
