footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a5b4fc;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:auto;
}

footer a {
    margin-left: 30px;
    font-size: small;
    text-decoration: none;
}

footer img {
    width: 25px !important; 
    height: 25px !important; 
}
